input {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 10px;
}

.container {
  border-radius: 30px;
  border: 3px solid black;
  padding: 1em;
  background-color: #ffe142;
}

.inputBox {
  border-radius: 30px;
  border: 3px solid black;
  padding: 1em;
  margin: 1em;
}

.main {
  padding-top: 0.5em;
  font-size: 18px;
}

.temperature {
  font-size: 140px;
  margin: 3px;
}

.summaryHeader {
  font-weight: 700;
  text-align: left;
}

.summary {
  font-size: 14px;
  text-align: left;
}

/* colours
yellows: #ffe142 
blues: #42c5fe
pinks: #ff64d5
purple: #7C2B81
orange: #FF561A;


font: roboto
*/
